* { box-sizing: border-box; }

.dark-mode {
    background-color: #000000;
    color: white;

 }

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}

footer {
    font-size: smaller;
}

@media (max-width: 575px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

.grid-item {
  float: left;
  padding: 1rem;

}

.grid-item img {
  display: grid;
  max-width: 100%;
}		
